* {
  box-sizing: border-box;
}

.cells {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

.cell {
  background-color: darkgray;
  border: ridge 4px gray;
  cursor: pointer;
  height: 30px;
  text-align: center;
  width: 30px;
}

.flag {
  background-color: blue;
}