* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.cells {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  padding: 10px;
  background: gray;
}

.cell {
  background-color: #bdbdbd;
  border: ridge 4px darkgray;
  border-top: ridge 4px #fff;
  border-left: ridge 4px #fff;
  cursor: pointer;
  height: 30px;
  text-align: center;
  width: 30px;
  font-weight: bold;
  font-family: 'fantasy';
  padding-top: 2px;
}

.revealed {
  background-color: #bdbdbd;
  border: solid 1px gray;
}

.adj-1 {
  color: #0b24fb;
}

.adj-2 {
  color: #248226;
}

.adj-3 {
  color: #fb0f1d;
}

.fas.fa-bomb {
  display: none;
}

.scoreboard {
  width: 290px;
  padding: 10px;
  background-color: gray;
  border: ridge 4px lightgray;
  display: flex;
  justify-content: space-around;
}

.results {
  text-align: center;
  width: 290px;
  font-size: 24px;
}

.results.winner {
  color: green;
}

.results.loser {
  color: red;
}


#board.loser .fa-flag {
  display: none;
}

#board.loser .cells .cell.mine {
  background-color: #bdbdbd;
  border: solid 1px gray;
}

#board.loser .cells .cell.mine .fa-bomb {
  display: inline;
}